alias pa="php artisan"
alias dmg="brew cask install --appdir=/Applications"
alias hosts='webstorm /etc/hosts'
alias sshconfig="webstorm ~/.ssh/config"

alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

alias ls='lsd'

alias dep='/Users/antonin/.composer/vendor/bin/dep'
